.qm-pool {
    display: flex;
    position: relative;
    height: rem(42px);
    overflow: hidden;
    margin-bottom: rem($global-standard-margin);
    padding-right: rem(48px);

    @at-root [dir='rtl'] & {
        padding-right: 0;
        padding-left: rem(48px);
    }

    @at-root .qm-main--no-queues & {
        display: flex;
        //flex: 1 1 auto;
        //flex-wrap: wrap;
        height: auto;
        max-height: 50%;
        padding-right: 0;
        flex-direction: column;
    }

    @at-root [dir='rtl'] .qm-main--no-queues & {
        padding-left: 0;
    }

    &__label {
        flex: 0 0 140px;
        padding-top: rem($global-standard-padding / 2 - 1);
        color: $dark-transparent82;
        font-size: rem(18px);
        overflow: hidden;
        text-align: right;
        white-space: nowrap;
        text-overflow: ellipsis;

        @at-root [dir='rtl'] & {
            text-align: left;
        }

        @at-root .qm-main--no-queues & {
            display: block;
            text-align: left;
            flex: 0 0 auto;
            font-size: rem(21px);
            padding-top: 0;
            margin-bottom: rem(20px);

            @at-root [dir='rtl'] & {
                text-align: right;
            }
        }
    }

    &__content {
        flex: 1 1 100%;
        width: 100%;
        padding-left: rem($global-standard-padding);

        @at-root [dir='rtl'] & {
            padding-left: 0;
            padding-right: rem($global-standard-padding);
        }

        @at-root .qm-main--no-queues & {
            padding: 0;
            height: calc(100% - 51px);
            overflow: auto;
            flex: auto;
        }
    }

    &__list {
        flex: 1 auto;
        display: flex;
        margin: rem(0 -4px);
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    &__list-item {
        min-width: 153px;
        width: auto;
        margin-bottom: rem(8px);
        padding: rem(0 4px);

        @at-root .qm-main--no-queues & {
            width: 100%;
            display: block;
            padding: 0;
            margin-bottom: rem(4px);
        }

        &--auto-width {
            max-width: none;
            width: auto;
        }
    }

    &__toggle-btn {
        position: absolute;
        right: 0;
        top: 8px;
        color: $dark-transparent42;

        @at-root [dir='rtl'] & {
            right: auto;
            left: 0;
        }

        &:hover,
        &:focus {
            color: $dark-transparent82;
        }
    }

    &__no-result-text {
        display: inline-block;
        padding: rem($global-standard-padding / 2 0);
        color: $dark-transparent42;
    }

    .icon-accordion-toggle {
        font-weight: rem(24px);

        &:before {
            content: "\e902";
        }
    }

    &--is-open {
        height: auto;

        .icon-accordion-toggle {
            &:before {
                content: "\e905";
            }
        }

        .qm-pool__list {
            max-height: rem(150px);
            overflow-y: auto;
        }
    }

    // If queue view disabled
    
}
