.qm-tabs {
    height: 100%;

    &__tablist {
        display: flex;
        border-bottom: 1px solid $tab-border-color;
        margin-bottom: rem($global-standard-padding);
    }

    &__tab {
        display: inline-flex;
        align-items: middle;
        flex: 0 1 auto;
        background: transparent;
        border: 0;
        color: $tab-text-color;
        padding: rem($global-standard-padding / 2 0);
        padding-left: 0;
        font-size: rem(21px);
        line-height: rem(24px);
        margin-bottom: rem(-4px);
        border-bottom: 4px solid $button-disabled-border-color;
        cursor: pointer;
        text-align: left;

        @at-root [dir='rtl'] & {
            padding-right: 0;
            text-align: right;
        }

        &:focus {
            //outline: 0;
        }

        &:active {
            outline: 0;
        }

        &[aria-selected='false'] {
            font-weight: $font-weight-light;
            color: $tab-disabled-color;
            border-bottom: 4px solid transparent;
        }

        & + & {
            //padding-left: rem($global-standard-padding);
            margin-left: rem(10%);

            @at-root [dir='rtl'] & {
                margin-left: 0;
                margin-right: rem($global-standard-margin);
                padding-right: rem($global-standard-padding);
            }
        }
    }

    &__tab-text {
        pointer-events: none;
    }

    &__tab-panel {
        height: calc(100% - 57px);
        
        &:focus {
            outline: 0;
        }
    }
}

.qm-tab-information {
    display: flex;
    align-items: center;
    margin-left: rem($global-standard-margin / 2);
    pointer-events: none;
    color: $text-primary-color;

    @at-root [aria-selected='false'] & {
        color: $tab-disabled-color;
    }

    @at-root [dir='rtl'] & {
        margin-left: 0;
        margin-right: rem($global-standard-margin);
    }

    &__icon {
        flex: 0 20px;
        font-size: rem(20px);
        color: inherit;
        margin-right: rem(4px);

        @at-root [dir='rtl'] & {
            margin-right: 0;
            margin-left: rem(4px);
        }
    }

    &__text {
        font-size: rem(16px);
        line-height: rem(19px);
    }
}