// Generic colors

$midnight-blue: #1a1c34;
$pale-blue: #334366;

$qmatic-bordeaux: #e2007a;		/* #E50046; */
$pale-aquamarine: #03996C;

$qmatic-yellow: #ECC208;

$light-gray: #f4f4f4;

$charcoal: #2b2b2b;
$soft-gray: #e0e0e0;

$validation-error: $qmatic-bordeaux;

$white: #FFFFFF;
$light-transparent75: rgba(255, 255, 255, 0.75);
$light-transparent50: rgba(255, 255, 255, 0.5);
$light-transparent42: rgba(255, 255, 255, 0.42);
$light-transparent12: rgba(255, 255, 255, 0.12);

$black: #000000;
$dark-transparent80: rgba(0, 0, 0, 0.80);
$dark-transparent82: rgba(0, 0, 0, 0.82);
$dark-transparent62: rgba(0, 0, 0, 0.62);
$dark-transparent42: rgba(0, 0, 0, 0.42);
$dark-transparent12: rgba(0, 0, 0, 0.12);
$dark-transparent08: rgba(0, 0, 0, 0.12);
$dark-transparent04: rgba(0, 0, 0, 0.04);
$dark-transparent02: rgba(0, 0, 0, 0.02);

$background-gradient-stop1: #32405C; 
$background-gradient-stop2: #40526E;
$background-gradient-stop3: #374561;
$background-gradient-stop4: #394561;
$background-gradient-stop5: #484766;

$popover-header-color: #929596;

$context-marketing-color: #4D6599;


// Application specific colors
$primary-color: $qmatic-bordeaux;
$secondary-color: $pale-aquamarine;
$tertiary-color: $midnight-blue;

$h1-color: $primary-color;

$right-background-color: $light-gray;

$text-primary-color: $dark-transparent82;

$input-border-color: $dark-transparent42;

$button-disabled-color: $dark-transparent42;
$button-disabled-border-color: #949494;

$primary-button-background: $qmatic-bordeaux;
$primary-button-text-color: $white;
$primary-button-border-color: $qmatic-bordeaux;
$primary-button-active-color: $dark-transparent82;

$secondary-button-background: $white;
$secondary-button-text-color: $qmatic-bordeaux;
$secondary-button-border-color: $qmatic-bordeaux;
$secondary-button-active-color: $dark-transparent82;

$primary-action-button-color: $qmatic-bordeaux;
$primary-action-button-active-color: $dark-transparent82;
$primary-action-button-disabled-color: $dark-transparent42;

$back-button-color: $dark-transparent82;

$card-label-color: $dark-transparent42;
$card-action-item-color: $pale-aquamarine;

$transparent-card-headline-color: $white;
$transparent-card-text-color: $white;
$transparent-card-icon-color: $white;

$tooltip-background-color: $dark-transparent82;
$tooltip-text-color: $white;


$header-background-color: $tertiary-color;
$header-right-text-color: $light-transparent75;
$footer-default: $light-transparent50;
$box-background-color: $white;
$box-border-color: $dark-transparent12;

$tab-text-color: $dark-transparent82;
$tab-disabled-color: $secondary-color;
$tab-border-color: $dark-transparent12;

$table-row-hover-color: $white;

$services-color: $dark-transparent62;

$popover-background-color: $white;

$toast-success-background-color: $secondary-color;
$toast-error-background-color: $primary-color;
$toast-text-color: $white;

$sla-warning-color: $qmatic-yellow;
$sla-danger-color: $primary-color;
