::-webkit-scrollbar {
     width: 6px;
}

// ::-webkit-scrollbar {
//     width: 0px;
//     background: transparent;
//     -ms-overflow-style: -ms-autohiding-scrollbar;
// }

::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 0;
    width: 6px;
    background-color: $dark-transparent12;
}

::-webkit-scrollbar-thumb {
    box-shadow: none;
    background-color: $dark-transparent82;
}

/* IE10+ */
::-ms-clear {
    display: none;
}

/* Chrome */
::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration { 
    display: none; 
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset;
    border-color: #e0e0e0;
}